@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Cousine:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;

}

.navegacao{
    background-color: #acf0ce;
    position: fixed;
    width: 100%;
    padding: 10px;
}
 
.navegacao .space-logo{
    display: inline;
    padding-left: 10%;
}

.space-logo img{
    height: 30px;
    
}

.navegacao .space-menu{
    display: inline;
    float: right;
    padding-right: 10%;
}

 #menu-h li{
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-decoration: none;
    padding-left: 15px;
} 

li a{
    text-decoration: none;
    color: #000;
}

a:hover{
    text-decoration: underline;
}
/* HOME */

#home{
    margin: 0;
    height: auto;
    padding-top: 30px;
    margin-left: 150px;
    margin-right: 150px;
   
}

.home-container{
    background-color: #F5F5F5;
    display: flex;
    padding-top: 5%;
    padding-bottom: 20%;
    border-radius: 20px 20px 0 0;
    height: 90%;
    margin-top: 40px;
}

.home-texto{
    text-align: left;
    font-size: 30px;
    padding-left: 70px;
    padding-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 12%;
}

.home-texto h2{
    font-family: 'Cousine', helvetica, arial;
    padding-top: 0;
    font-size: 20px;
    font-weight: 400;
}

.home-imagem{
    width: 300px;
    height: 100px;
    float: left;
    margin-left: 90px;
}

.home-img{
    height: 500px;
    padding-top: 12%;
}

/* SOBRE */

#about{
    margin: 0;
    background-color: rgba(128, 128, 128, 0);
    height: auto;
    margin-left: 150px;
    margin-right: 150px;
}

.about-container{
    background-color: #F5F5F5;
    display: flex;
    padding-bottom: 5%;
    padding-bottom: 5%;
   
    height: auto;
}

.about-titulo{
    font-family: 'Cousine', helvetica, arial;
    line-height: 50px;
}

.about-texto{
    text-align: justify;
    text-indent: 25px;
    font-size: 18px;
    margin-top: 13%;
   
    padding-right: 70px;
    padding-left: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.about-imagem{
    float: left;
    padding: 12% 0 0 40px;
}

.about-img{
    height: 300px;
    border-radius: 20px;
}

/*  SKILL */

#skill{
    margin: 0;
    height: auto;
    margin-left: 150px;
    margin-right: 150px;
}

.skill-container{
    background-color: #F5F5F5;
    display: flex;
    padding-top: 4%;
    padding-bottom: 5%;
   
    height: 90%;
}

.skill-texto{
    font-family: 'Cousine', helvetica, arial;
    font-size: 18px;
    padding-left: 70px;
    padding-top: 12%;
}

.skill-sec{
    padding-top: 20%;
    margin: 0px 40px;
    position: relative;

}

i{
    font-size: 100px;
}

/* PORTIFOLIO */

#portifolio{
    margin: 0;
    height: auto;
    margin-left: 150px;
    margin-right: 150px;
}

.portifolio-container{
    background-color: #F5F5F5;
    display: flex;
    padding-top: 12%;
    padding-bottom: 12%;
    margin-bottom: 50px;
    border-radius: 0 0 20px 20px;
    height: auto;
    /* overflow-y: auto; */
}

.portifolio-container .portifolio-secao{
    background-color: #6f6f6f00;
    width: 900px;
    height: 60%;
    margin-top: 80px;
    padding: 20px;
}

.portifolio-subtitulo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    font-weight: 400;
    margin-bottom: 25px;
    text-align: center;
}


.portifolio-texto{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    text-indent: 1.25cm;
    text-align: justify;
    line-height: 30px;
}
.portifolio-secao-linkgithub{
    text-align: center; 
}

.portifolio-linkgithub img{
    height: 90px;
    text-align: center;
}


/* .projeto-1, .projeto-2, .projeto-3{
    background-color:#B3DEC1 ;
    width: 250px;
    height: 350px;
    margin-left: 20px;
    display: inline-block;
    border-radius: 15px;
} 

.projeto-1 a img{
    width: 250px;
    margin: 0;
    padding: 0;
} */




.portifolio-h1{
    font-family: 'Cousine', helvetica, arial;
    padding-left: 70px;
    
}

/* CONTATO */

#contato{
    height: auto;
   
}

.contato-container{
    background-color:#acf0ce;
    margin: 0;
    margin-top: 60px;
    height: 50vh;
}

.contato-titulo{
    text-align: left;
    font-size: 30px;
    padding-left: 200px;
    font-family: 'Cousine', helvetica, arial;
    padding-top: 7%;
}

.contato-texto{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 290px;
    line-height: 40px;

}

.contato-texto a img{
    height: 30px;
    padding-left: 20px;
}

.contato-dev{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 4%;


}



