@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Cousine:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body{
    margin: 0px;
}

/* barra de navegação */

nav{
    text-align: right;
    padding-right: 150px;

}

.section{
    display: inline-block;
    
}

.section a{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: 600;
    text-decoration: none;
    padding-right: 40px;
 
}

a:hover{
    color: #FFB9C5;
}

/* HOME */

#home{
    margin: 0;
    height: 100vh;
    padding-top: 30px;
    margin-left: 150px;
    margin-right: 150px;
}

.home-container{
    background-image: radial-gradient(#fff,#FBFFF1, #b3dec15c);
    display: flex;
    padding-top: 10px;
    border-radius: 20px;
    height: 90%;
}

.home-texto{
    text-align: left;
    font-size: 30px;
    padding-left: 70px;
    padding-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 12%;
}

.home-texto h2{
    font-family: 'Cousine', helvetica, arial;
    padding-top: 0;
    font-size: 20px;
    font-weight: 400;
}

.home-imagem{
    width: 600px;
    height: 400px;
    display: flex;
    justify-content: right;
    text-align: right;
}

.home-img{
    height: 500px;
    padding-top: 12%;
}

/* SOBRE */

#about{
    margin: 0;
    background-color: rgba(128, 128, 128, 0);
    height: 100vh;
    margin-left: 150px;
    margin-right: 150px;
}

.about-container{
    background-image: radial-gradient(#fff,#FBFFF1, #b3dec15c);
    display: flex;
    padding-top: 10px;
    border-radius: 20px;
    height: 90%;
}

.about-titulo{
    font-family: 'Cousine', helvetica, arial;
}

.about-texto{
    text-align: justify;
    font-size: 18px;
    padding-top: 12%;
    padding-right: 70px;
    padding-left: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.about-imagem{
    padding-left: 70px;
    padding-top: 12%;
}

.about-img{
    height: 300px;
    border-radius: 20px;
}

/*  SKILL */

#skill{
    margin: 0;
    height: 100vh;
    margin-left: 150px;
    margin-right: 150px;
}

.skill-container{
    background-image: radial-gradient(#fff,#FBFFF1, #b3dec15c);
    display: flex;
    padding-top: 10px;
    border-radius: 20px;
    height: 90%;
}

.skill-texto{
    font-family: 'Cousine', helvetica, arial;
    font-size: 18px;
    padding-left: 70px;
    padding-top: 12%;
}

.skill-sec{
    padding-top: 20%;
    display: grid;

}

i{
    font-size: 100px;
}

/* PORTIFOLIO */

#portifolio{
    margin: 0;
    height: 100vh;
    margin-left: 150px;
    margin-right: 150px;
}

.portifolio-container{
    background-image: radial-gradient(#fff,#FBFFF1, #b3dec15c);
    display: flex;
    padding-top: 10px;
    border-radius: 20px;
    height: 90%;
}

.portifolio-h1{
    font-family: 'Cousine', helvetica, arial;
    padding-left: 70px;
    padding-top: 12%;
}

/* CONTATO */

#contato{
    margin: 0;
    height: 50vh;
}

.contato-container{
    background-color: #B3DEC1;
    margin: 0;
    height: 50vh;
}

.contato-titulo{
    text-align: left;
    font-size: 30px;
    padding-left: 200px;
    font-family: 'Cousine', helvetica, arial;
    padding-top: 12%;
}



